@import "../imports";

.auth__page__structure {
  @include center;
  background-color: #eee;
}

.form__card {
  height: 500px;
  width: 800px;
  border-radius: 5px;
  padding: 1rem;
  background-color: #fff;
  @extend .box__shadow;
  position: relative;

  
  display: flex;
  align-items: center;
  justify-content: flex-start;


  .back__homepage {

    position: absolute;
    left: 1rem;
    top: 1rem;
    @extend .icon__button;
    background-color: rgba($color: #000000, $alpha: .5);
    color:#FFF;

  }

  .illustration {
    @include center;
  }

  .actual__form {
    flex: 3;
    padding: 1rem;

    .o__auth__btn {
      margin-top: 0.5rem;
      width: 100%;

      display: flex;
      align-items: center;
      justify-content: center;
      gap: 1rem;
      padding: 0.5rem 0.8rem;
      cursor: pointer;
    }

    .alternative {
      font-size: 0.75rem;
      text-align: center;
      display: flex;
      align-items: center;
      justify-content: space-around;

      &::after,
      &::before {
        content: "";
        display: block;
        height: 1px;
        width: 100px;
        flex: 1;
      }
    }

    .switch__auth__pages {
      font-size: 0.75rem;
      text-align: center;

      a {
        color: $accent;
        text-decoration: none;
      }
    }
  }
}


// MEDIA QUERIES
@media only all and (max-width:870px) {
  .form__card {
    width: 90%;
    flex-direction: column;
    height: fit-content;
    align-items: stretch;

    // .illustration {
    //   display: none;
    // }
  }
}

@media only all and (max-width:425px) {
  .form__card {
    justify-content: center;

    // height: 100%;
    // width: 100%;
    // box-shadow: none;

    .illustration {
      svg {
        height: 200px !important;
        width: 200px !important;
      }
    }

    .actual__form {
      justify-content: center;
    }
  }

  .form__card .actual__form .switch__auth__pages {
    font-size: .7rem;
  }
}